/node_modules
#/public/mix-manifest.json

/public/hot


/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.docx
archive6kFbd.tar.gz
/public/js/*.js
/public/js/*.map
/public/js/*.LICENSE.txt
/public/css/app.css
/public/css/app.css.map
/public/mix-manifest.json
!/public/js/xlsx.min.js